<html>
<head>
	<meta charset="UTF-8">
	<title>Flask-Contacts</title>
	<link rel="stylesheet" href="{{url_for('static' , filename='css/app.css')}}">
	<link rel="stylesheet" href="{{url_for('static' , filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static' , filename='css/mdb.min.css')}}">
</head>
<body class="bg-info">

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
	  <a class="navbar-brand" href="/">Flask Contacts App</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	</nav>


	<div class="container-fluid">
		
	{% block body %}
	{% endblock %}		

	</div>

	<script src="{{url_for('static' , filename='js/jquery-3.3.1.min.js')}}"></script>
	<script src="{{url_for('static' , filename='js/popper.min.js')}}"></script>
	<script src="{{url_for('static' , filename='js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('static' , filename='js/mdb.min.js')}}"></script> 
</body>
</html>